Description: This section describes how to create custom specifications, from scratch based on <a href="/FluentSpecification/api/FluentSpecification.Abstractions/"><code>FluentSpecification.Abstractions</code></a> or using base <i>Specification</i> classes in <a href="/FluentSpecification/api/FluentSpecification.Core/"><code>FluentSpecification.Core</code></a>.
Order: 300
---

@Html.Partial("_ChildPages")