<a href="https://github.com/michalkowal/FluentSpecification">
	<div class="github-button"><i class="fa fa-github"></i> GitHub</div>
</a>

<script>
	anchors.add('h1, h2, h3').remove('.no-anchor');
</script>